*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
::placeholder{
    color: #dbdbdb;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #808080;
}
header{
    padding: 45px 0 49px;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-side a {
    font-weight: 500;
    line-height: 17px;
    text-transform: uppercase;
}
.left-side a:first-child{
    padding-right: 20px;
}
.search-input{
    width: 227px;
    height: 38px;
    background-color: #ededed;
    border-radius:19px;
    border: none;
    padding: 0 35px 0 20px;
}
.search{
    position: relative;
    margin-right: 30px;
}
.search svg{
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.left-side, .right-side{
    width: 400px;
}
.right-side{
    display: flex;
    align-items: center;
}

.my-account{
    display:flex;
    align-items: center;
}
.my-account span{
    font-weight: 500;
    line-height: 17px;
    text-transform: uppercase;
    margin-left: 11px;
}
.top-menu{
    background: #66ba02;
    line-height: 17px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.top-menu-item{
    padding: 20px 25px;
    display: inline-block;
    transition: .4s;
}
.top-menu-item:hover {
    background-color: #333;
}
.hero{
    height: 450px;
    background: url("../images/foodimage.png") no-repeat center/cover;
}
.info-company{
    padding: 80px 0 90px;
}
.info-list{
    display: flex;

}
.info-list-item{
    text-align: center;
    list-style: none;
}
.info-list-icon{
    height: 54px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.info-item-title{
    line-height: 17px;
    text-transform: uppercase;
    font-weight:700;
    color: #000;
    margin: 15px 0 22px;

}
.info-item-desc{
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -40px;
}
.col-4{
    width:33.3333%;
    padding: 0 40px;
}
.products{
    height: 530px;
    position: relative;
    overflow: hidden;
    background-color: tomato;
    margin-bottom: 20px;
}
.overlay{
    height: 100%;
    background-color: #66ba02;
    position: absolute;
    width: 100%;
    bottom:-100%;
    transition: .6s;
}
.products:hover .overlay{
    bottom: 0;
}
.title-h{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 50px;
}
.box{
    position: relative;
    background-color: #FFFFFF;
    margin: 100px auto;
    width: 164px;
    height: 2px;
    border-radius: 2px;
}
.box::before{
    content:'';
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFFFFF;

}
.box::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -40px;
}

.col-4 {
    width: 33.3333%;
    padding: 0 40px;
    margin-bottom: 100px;
}
.col-6{
    width: 50%;
    padding: 0 15px;
}
.food-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.food-item {
    height: 530px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.food-item:hover div {
    bottom: 0;
}

.food-item-list {
    color: white;
    text-align: center;
    padding: 50px 30px 55px;
    transition: 0.5s;
}

.span-item-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
}

.food-item-title {
    position: absolute;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: white;
    right: 50%;
    bottom: 60%;
    transform: translate(50%, 50%);
}

.food-item svg {
    position: absolute;
    right: 50%;
    bottom: 48%;
    transform: translate(50%, 50%);
}

.food-item-list {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 600px;
    background: #66BA02;
    transition: 1s;
    text-transform: uppercase;
}

.hover-border {
    position: absolute;
    width: 134px;
    height: 3px;
    right: 50%;
    top: 120px;
    transform: translate(50%, 50%);
    background: #FFFFFF;
    border-radius: 2px;
}

.hover-border:before {
    content: '';
    position: absolute;
    width: 164px;
    height: 3px;
    border-radius: 2px;
    bottom: 7px;
    right: -15px;
    background: #FFFFFF;
}

.hover-border:after {
    content: '';
    position: absolute;
    width: 88px;
    height: 3px;
    border-radius: 2px;
    bottom: -7px;
    right: 23px;
    background: #FFFFFF;
}

.span-item-sushi {
    padding-top: 92px;
    font-size: 24px;
    line-height: 29px;
}

.span-item-desc {
    padding: 50px 0;
    font-size: 12px;
    line-height: 15px;
}

.span-item-btn {
    border: none;
    height: 60px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    background: #2B450B;
    color: white;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0 30px;
}
.dish-week{
    height: 600px;
    background: url("../images/dish.png");
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.dish-content{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    z-index: 1;
}
.dish-subtitle{
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
}
.dish-heading{
    font-size: 74px;
    line-height: 102px;
    letter-spacing: 0.35em;
    margin: 10px 0;
}
.dish-btn{
    background: none;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #66BA02;
    padding: 13px 58px;
    margin-top: 43px;
    transition: .6s;
}
.dish-btn:hover{
    background: #66BA0255 ;
}
.substrate{
    width: 900px;
    height: 430px;
    background: rgba(0, 0, 0, 0.35);
    position: absolute;
    margin: auto;
}
.substrate:before{
    content: "";
    width: 80%;
    height: 80%;
    border-left: 5px solid #66BA02;
    border-top: 5px solid #66BA02;
    position: absolute;
    left: 0;
    top: 0;
}
.substrate:after{
    content: "";
    width: 80%;
    height: 80%;
    border-right: 5px solid #66BA02;
    border-bottom: 5px solid #66BA02;
    position: absolute;
    right: 0;
    bottom: 0;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-links-item:not(:last-child){
    margin-right: 50px;
}
.footer-links-item{
    text-transform: uppercase;
    font-weight: 500;
    line-height: 17px;
}
.copyright{
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #808080;
    text-transform: uppercase;
    margin-top: 15px;
}
footer{
    padding: 51px 0 17px;
    background: url("../images/footer-br.png") no-repeat bottom center/contain;
}
.footer-links{
    width: 334px;
}
.blog-post{
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
    display: flex;
    margin-bottom: 80px;
}
.post-poster{
    width: 40%;
}
.post-details{
    width: 60%;
    padding: 20px 10px;
}
.post-poster img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.post-username{
    font-size: 28px;
    line-height: 39px;
    text-transform: uppercase;
    color: #000000;
    margin: 20px 0;
}
.post-content{
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: #9D9D9D;
}
.post-social{
    margin: 20px 0 14px;
}
.post-social a{
    background: #66BA02;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    padding: 5px;
    display: inline-block;
    margin-right: 18px;
}
.more-btn{
    float: right;
}
.blog{
    padding: 90px 0;
}
.more{
    margin: 0 auto;
    display: block;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 271px;
    height: 66px;
    left: 825px;
    top: 3173px;
    background: #66BA02;
}

.form-label{
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
}
.form-label:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #66BA02;
    left: -48px;
    background: #fff;
}
.custom-label{
    margin-bottom: 30px;
}
.form-input{
    padding: 41px 50px;
    border: 2px solid #EDEDED;
    width: 100%;
    margin-bottom: 100px;
}
textarea[class='form-input']{
    margin-bottom: 50px;
}
.custom-checkbox{
    display: none;
}
.custom-label{
    position: relative;
    padding-left: 45px;
}
.custom-checkbox-row{
    margin-left: 29px;
}
.custom-label:before{
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    border: 2px solid #66BA02;
    border-radius: 50%;
    left: 0;
}
.custom-label:after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #66BA02;
    border-radius: 50%;
    left: 10px;
    top: 10px;
    opacity: 0;
    transition: .5s;
}
.custom-checkbox:checked + .custom-label:after{
    opacity: 1;
}
.form-notification{
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    max-width: 656px;
    color: black;
    margin-left: 29px;
    margin-bottom: 50px;
}
.contacts{
    padding: 100px 0;
}
.robot{
    margin-bottom: 50px;
}
.form-btn{
    text-transform: uppercase;
    background: #66BA02;
    width: 293px;
    height: 58px;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    border: none;
    transition: .6s;
}
.form-btn:hover{
    background: #8bfc05;
}
.form-content{
    position: relative;
}
.form-content:before{
    content: '';
    position: absolute;
    background: #EDEDED;
    width: 2px;
    height: 100%;
    left: -37px;
    top: 0;
}
